<html>

<head>
    <link rel="stylesheet" href="Request.css">
</head>

<body>

    <div class="background">
        <div class="container">
            <img src="https://img.icons8.com/bubbles/200/user.png" alt="IMAGE NOT FOUND">
           
            <div class="screen-body-item left">
                <div class="app-title">
                    <span>FILL YOUR</span>
                    <span>REQUEST</span>
                </div>
               <br>
            </div>
            <div class="screen-body-item">
                <div class="app-form">
                    <div class="app-form-group">
                        <input class="app-form-control" placeholder="NAME">
                    </div>
                    <div class="app-form-group">
                        <input class="app-form-control" type="number" placeholder="Mobile Number">
                    </div>
                    
                    <div class="app-form-radio">
                        <label class="app-form-radio">GENDER</label>
                        <input type="radio" class="app-form-radio" id="male" name="gender" value="male" class="gender">
                        <label for="male"  class="app-form-radio">MALE</label>
                        <input type="radio" class="app-form-radio" id="female" name="gender" value="female">
                        <label for="female"  class="app-form-radio">FEMALE</label>
                    </div>
                    <br>
                    <div class="app-form-group">
                        <label class="app-form-radio">BLOOD GROUP</label>
                    <select name="bloodgroup" id="bloodgroup" class="details">
                        <option value="a+">A+</option>
                        <option value="a-">A-</option>
                        <option value="b+">B+</option>
                        <option value="b-">B-</option>
                        <option value="ab+">AB+</option>
                        <option value="ab-">AB-</option>
                        <option value="o+">O+</option>
                        <option value="o-">O-</option>
                    </select>
                    </div>
                    <div>
                        <a href="Success.html" target="_blank">Proceed</a>
                    </div>
                </div>
            <!-- </div> -->
        </div>
    </div>
    </div>
    </div>
	<script>
  window.watsonAssistantChatOptions = {
    integrationID: "0241a66d-d023-4df2-99ba-7bcc80aefd5a", // The ID of this integration.
    region: "au-syd", // The region your integration is hosted in.
    serviceInstanceID: "1550a48f-f64b-4d94-8721-e6d2c76a1fec", // The ID of your service instance.
    onLoad: function(instance) { instance.render(); }
  };
  setTimeout(function(){
    const t=document.createElement('script');
    t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
    document.head.appendChild(t);
  });
</script>
</body>

</html>