<html>

<body>

    <head>
        <link rel="stylesheet" href="Login.css">
    </head>
    <body>
       
             <div class="background">
            <div class="container">
                <center><img src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/200/external-login-web-store-flaticons-lineal-color-flat-icons.png" alt="IMAGE NOT FOUND">       </center>
                <!-- <img src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/200/external-login-web-store-flaticons-lineal-color-flat-icons.png" alt="IMAGE NOT FOUND"> -->
            <div class="screen-body-item left">
                <div class="app-title">
                    <span>LOGIN</span>
                    
                </div>
        
               
                <div class="screen-body-item">
                    <div class="app-form">
                        <div class="app-form-group">
                            <input class="app-form-control" placeholder="USERNAME">
                        </div>
                        <div class="app-form-group">
                            <input class="app-form-control" type="password" placeholder="Password">
                        </div>
                        <div class="app-form-group">
                            <a href="forgetPasswordController" class="app-form-pass">Forgot Password?</a>
                        </div>
                        
                            <div>
                                <a class="b" href="Requirement Page.html" target="_blank">LOGIN</a>
                            </div>
                       
                        </div>
                        </div>
                         </div>
                        </div>
						<script>
  window.watsonAssistantChatOptions = {
    integrationID: "0241a66d-d023-4df2-99ba-7bcc80aefd5a", // The ID of this integration.
    region: "au-syd", // The region your integration is hosted in.
    serviceInstanceID: "1550a48f-f64b-4d94-8721-e6d2c76a1fec", // The ID of your service instance.
    onLoad: function(instance) { instance.render(); }
  };
  setTimeout(function(){
    const t=document.createElement('script');
    t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
    document.head.appendChild(t);
  });
</script>
                        </div>
    
</body>

</html>