<html>

<head>
    <link rel="stylesheet" href="Requirement Page.css">
</head>

<body>
    <img src="https://img.icons8.com/external-filled-line-gradient-andi-nur-abdillah/200/external-blood-medical-filled-line-gradient-filled-line-gradient-andi-nur-abdillah-2.png"
        alt="image not found">
    <div class="center">
        <h1>A single drop of blood can make a huge difference</h1>
        <div>
            <a  href="Stats-Recipient.html" target="_blank">IN NEED</a>
        </div>
    
        <br>
        
        <div>
            <a href="Stats-Donor.html" target="_blank">READY TO DONATE</a>
        </div>
    </div>
	<script>
  window.watsonAssistantChatOptions = {
    integrationID: "0241a66d-d023-4df2-99ba-7bcc80aefd5a", // The ID of this integration.
    region: "au-syd", // The region your integration is hosted in.
    serviceInstanceID: "1550a48f-f64b-4d94-8721-e6d2c76a1fec", // The ID of your service instance.
    onLoad: function(instance) { instance.render(); }
  };
  setTimeout(function(){
    const t=document.createElement('script');
    t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
    document.head.appendChild(t);
  });
</script>
</body>

</html>