<html>
   <head>
      <link rel="stylesheet" href="Register.css">
  </head>
<body>
    <form action="/register" method="post">
   <center>
   <div class="background">
      <div class="container">
    <center>
            <img src="https://img.icons8.com/external-flat-circular-vectorslab/200/external-Blood-Donation-medical-and-health-care-flat-circular-vectorslab.png"
                alt="oops!Image not found" />
                <div class="screen-body-item left">
                  <div class="app-title">
                      <span>REGISTER YOUR</span>
                      <span>DETAILS</span>
                  </div>
                 <br>
              </div>
        
        <div>
            <table>
                
               <div class="screen-body-item">
                  <div class="app-form">
                      <div class="app-form-group">
                          <input class="app-form-control" id="username" placeholder="Name">
                      </div>
                    <div class="app-form-radio">
                     <label class="app-form-radio">Gender</label>
                     <input type="radio" class="app-form-radio" id="male" name="gender" value="male" class="gender">
                     <label for="male"  class="app-form-radio">Male</label>
                     <input type="radio" class="app-form-radio" id="female" name="gender" value="female">
                     <label for="female"  class="app-form-radio">Female</label>
                 </div>
                 <br>
                 <div class="app-form-group">
                  <input class="app-form-control" type="email" id="email" placeholder="Email">
              </div><br>
              <div class="app-form-group">
               <input class="app-form-control" type="number" name="mnumb" maxlength="10" placeholder="Mobile Number">
           </div> 
                       <div class="app-form-group">
                          <label class="app-form-radio">Blood Group</label>
                      <select name="bloodgroup" id="bloodgroup" class="details">
                          <option value="a+">A+</option>
                          <option value="a-">A-</option>
                          <option value="b+">B+</option>
                          <option value="b-">B-</option>
                          <option value="ab+">AB+</option>
                          <option value="ab-">AB-</option>
                          <option value="o+">O+</option>
                          <option value="o-">O-</option>
                      </select>
                      </div><br>
                      <div class="app-form-group">
                        <textarea class="app-form-area" type="text" rows="7" columns="30" name="address" placeholder="Address"></textarea>
                    </div><br>
                    <div class="app-form-group">
                     <input class="app-form-control" type="text"placeholder="New Password">
                 </div><br>
                 <div class="app-form-group">
                  <input class="app-form-control" type="password"placeholder="Confirm Password">
              </div><br>
                      
                          <a href="Home.html" target="_blank">Register</a>
                      <br>
                      
        </table>
     
    </center>
</form>

</body>
</html>